body{
  margin: 0px 0px;
  box-sizing: border-box;
  background-color: rgb(27, 28, 51);
  }
  .site{
  display:grid;
  grid-template-areas: 'titulo titulo titulo titulo'
                        'navbar col1 col2 col3'
                        'rodape rodape rodape rodape';

  }
  .titulo{
   grid-area: titulo;
   border: 5px solid rgb(134, 201, 201);
   text-align: center;
   font-size: 70px;
   text-shadow: 6px 6px rgb(35, 9, 95);
   color:white;
  }
  .navbar{
    grid-area: navbar;
  }
  .menu{
    display:flex;
    flex-direction: row;
  }
  .col1{
    grid-area: col1;
    color:rgb(190, 224, 255);
    text-align: center;
    font-size: 25px;
  }
  .col2{
    grid-area: col2;
    color:rgb(245, 224, 129);
    text-align: center;
    font-size: 25px;
  }
  .col3{
    grid-area: col3;
    color:rgb(228, 134, 223);
    text-align: center;
    font-size: 25px;
  }
  .rodape{
    grid-area: rodape;
   border: 5px solid rgb(134, 201, 201);
   text-align: center;
   font-size: 70px;
   text-shadow: 6px 6px rgb(35, 9, 95);
   color:white;
  }

  .img{
    float: left;
  }
